<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
	<div class="container-fluid">
		<header>
			<h1 class="text-center mt-2" th:text="'Best of by ' + ${name}"></h1>
			<nav class="d-flex gap-2 border border-grey rounded rounded-2 p-1">
				<div class="d-flex align-items-center me-3">
					<h3 class="m-0">Best of</h3>
				</div>
				<div>
					<div th:replace="~{fragments/link :: movies}"></div>
				</div>
				<div>
					<div th:insert="~{fragments/link :: songs}"></div>
				</div>
			</nav>
		</header>
	</div>
</body>
</html>